.cart {
    min-height: 100vh;
  }
  
  .cart__box {
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    border-radius: 8px;
    padding: 30px;
  }
  
  .cart__title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .cart__table {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    
  }
  
  .cart__table-inner {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .cart__table-header th {
    text-align: left;
    padding: 10px;
    /* background-color: #333;
    color: #fff; */
  }
  
  .cart__table tbody td {
    padding: 15px 10px;
    border-bottom: 1px solid #e6e6e6;
  }
  .cart__table tbody td:nth-child(4){
    width: 160px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .cart__table tfoot td {
    padding: 15px 10px;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
  }
  .cart__table .qtyInput[type="number"]::-webkit-inner-spin-button,
  .cart__table .qtyInput[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .qtyInput[type="number"] {
    -moz-appearance: textfield;
  }
  .qtyInput{
        font-size: 16px;
        padding: 5px;
        border: 1px solid #000000; 
        border-radius: 5px; 
        text-align: center;
  }
  .qtyBtn{
        background-color: #fff4fa; 
        border:none;
        border-radius: 7px;
        margin: 0 5px;
        padding: 5px 10px;
        font-size: 16px;
        cursor: pointer;
        color: #000000; 
  }
  .qtyBtn:hover {
    background-color: #ff99cc; 
  }
  .cart__delBtn{
    background-color: rgb(224, 30, 30);
    border-radius: 25%;
  }
  
  .cart__checkout {
    text-align: right;
  }
  
  .cart__checkout-button {
    padding: 12px 25px;
    background-color: #28a745;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .cart__checkout-button:hover {
    background-color: #218838;
  }
  
  .cart__error-message {
    color: red;
    text-align: center;
  }
  
  .cart__empty-message {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    color: #777;
  }
  
  @media (max-width: 768px) {
    .cart__box {
      padding: 20px;
    }
  
    .cart__table-inner, thead, tbody, tfoot, tr, td, th {
      display: block;
    }
  
    .cart__table-header {
      display: none;
    }
  
    tbody tr {
      margin-bottom: 20px;
      padding: 20px;
      background: #f9f9f9;
      border-radius: 8px;
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
    }
  }
  