.cart-con{
    width: 100%;
    height: 100vh;

}
.cart-box{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.cart-table{
    width: 100%;
    height: 80%;
    overflow-y: hidden;
    overflow-y: auto;


}
.cart-table table{
    width: 100%;
   text-align: center;
    

}
table ,th, td{
    border-bottom: 1px solid rgb(251, 106, 157);
    border-collapse: collapse;
    padding: 8px;
}
.product{
    width: 500px;
    text-align: left;
    
}
.checkout-btncon{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: 12%;
}
.checkout-btn{
    height: 95%;
    padding: 5px;
    background-color: hotpink;
    border: none;

}
