

body {
    background: white;
}

li {
    font-size: 12px;
    list-style: none;
    cursor: pointer;
    position: relative;
}

h6 {
    font-size: 12px;
}

li:hover::before{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background: #ff2a9c;
    right: 0;
    bottom: -1px;
    color: #2a68ff;
}

.icon{
    cursor: pointer;
}

.card  {
    background: #e2e2e2;
}


