
.signup-con{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 188, 223);

}

.signup-box{
    width: 70%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    box-shadow: 6px 6px 27px #dea0c7,
                -6px -6px 27px #dea0c7;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    align-content: center;
}
.signup-form{
    /* background-color: rgb(107, 64, 8); */
    width: 95%;
    height: 98%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}
.signup-form form .two-column{
    /* background-color: aqua; */
    display: flex;
    width: 100%;
    height: 25%;
}
.signup-form form .two-column .input {
    /* background-color: blueviolet; */
    width: 98%;
    display: flex;
    flex-direction: column;
}
.signup-form form .two-column .input input{
    width: 98%;
}
.signup-form form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.signup-form form button{
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: 600;
    padding: 7px;
    border: none;
    border-radius: 5px;
}
.signup-form > form > .input{
    /* background-color: blue; */
    height: 25%;
    display: flex;
    flex-direction: column;
}
.input input{
    outline: none!important; 
    border: none !important; 
    border-radius: 0% !important ;
    padding: 0%!important;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid black !important; 
    transition: ease-in 0.2s;
}
.input input:focus{
    border-bottom: 2px solid black !important;
    font-size: 11pt !important;
}
.signup-form h1{
    font-size: 2rem;
}
.signup-image{
    width: 95%;
    height: 98%;
    /* background-color: aquamarine; */
}
.signup-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
@media (max-width: 768px) {
    /* Tablet */
    .signup-box{
        width: 90%;
    }
  }
  
  @media (max-width: 480px) {
    /* Mobile */
    .signup-con{
        height: auto;
        padding: 20px 0;
    }
    .signup-box{
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .signup-image{
        width: 90%;
    }
    .signup-image > img{
        border-radius: 0;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;

    }
    .signup-form{
        padding: 10px 0;
    }
  }