* {
    margin: 0;
    padding: 0;
}

.dash-con {
    width: 100vw;
    height: 100vh;
    display: flex;
    background: #ffffff;
}

.nav-con {
    width: 20%;
    height: 100%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-img {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-img img {
    height: 90%;
    object-fit: contain;
    border-radius: 50%;
}

.nav-links {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.nav-links a {
    width: 95%;
    padding: 10px 0;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    color: #000000;
}

.nav-links a:hover {
    background: linear-gradient(90deg, rgba(255, 81, 17, 0.5) 0%, rgba(255, 28, 225, 0.5) 100%);
}

.nav-links a.active {
    background: linear-gradient(90deg, rgba(255, 81, 17, 1) 0%, rgba(255, 28, 225, 1) 100%);
    color: #ffffff;
}

.dash-board {
    width: 80%;
    height: 100%;
}

.dash-header {
    width: 100%;
    height: 10%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 10px;
}

.dash-header .header-title {
    width: 30%;
    height: 100%;
    font-size: 2.5rem;
    color: #d91e7b;
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.dash-header .header-title h1 {
    font-weight: 700;
    color: hotpink;
    margin: 0;
}

.header-user {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
}

.noti {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noti .bell-con {
    width: 70%;
    height: 70%;
    color: hotpink;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: ease-in 0.5s;
}

.noti .bell-con:hover {
    background-color: #ff60b2ca;
    color: #ffffff;
}

.admin-profile {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: 1px 10px;
    gap: 5px;
}

.admin-profile img {
    height: 70%;
    border-radius: 50%;
    object-fit: contain;
    border: 1px solid rgba(0, 0, 0, 0.601);
}

.admin-profile p {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
}

.dash-body {
    width: 100%;
    height: 90%;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.col-one, .col-two {
    width: 49%;
    height: 96%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* Order Summary */
.todays-order {
    width: 96%;
    height: 32%;
    background: #ffffff;
    box-shadow: 2px 2px 5px #f1f1f1, -2px -2px 5px #c2c2c2;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header {
    width: 100%;
    height: 22%;
    display: flex;
    justify-content: space-between;
}

.header .title {
    display: flex;
    flex-direction: column;
    line-height: 0.1;
}

.header .title p {
    line-height: 0.1;
    font-size: 0.7rem;
}

.header .see-all {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.see-all button {
    width: 90%;
    height: 85%;
    background-color: white;
    border: 1px solid black;
    border-radius: 7px;
}

.title p {
    color: #535353;
}

.summ {
    width: 100%;
    height: 78%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.summ strong {
    font-size: 9pt;
    color: black;
}

.summ p {
    color: #535353;
    font-size: 0.5rem;
}

/* Status Cards */
.delivered, .pending, .intransit, .cancelled, .returned {
    width: 19%;
    height: 98%;
    padding: 5px;
    border-radius: 10px;
    line-height: 0.8;
    display: flex;
    justify-content: start;
    align-items: center;
}

.delivered {
    background-color: rgb(127, 255, 150);
}

.delivered div {
    width: 30%;
    height: 40%;
}

.delivered div i {
    padding: 5px;
    background-color: rgb(101, 232, 125);
    color: rgb(17, 89, 30);
    border-radius: 50%;
    font-size: 18pt;
}

.pending {
    background-color: rgb(127, 163, 255);
}

.pending div {
    width: 30%;
    height: 40%;
}

.pending div i {
    padding: 5px;
    background-color: rgb(101, 121, 232);
    color: rgb(40, 17, 89);
    border-radius: 50%;
    font-size: 18pt;
}

.intransit {
    background-color: rgb(127, 189, 255);
}

.intransit div {
    width: 30%;
    height: 40%;
}

.intransit div i {
    padding: 5px;
    background-color: rgb(101, 166, 232);
    color: rgb(17, 43, 89);
    border-radius: 50%;
    font-size: 18pt;
}

.cancelled {
    background-color: rgb(255, 127, 127);
}

.cancelled div {
    width: 30%;
    height: 40%;
}

.cancelled div i {
    padding: 5px;
    background-color: rgb(232, 105, 101);
    color: rgb(89, 17, 17);
    border-radius: 50%;
    font-size: 18pt;
}

.returned {
    background-color: rgb(255, 249, 127);
}

.returned div {
    width: 30%;
    height: 40%;
}

.returned div i {
    padding: 5px;
    background-color: rgb(232, 219, 101);
    color: rgb(89, 89, 17);
    border-radius: 50%;
    font-size: 18pt;
}

/* Customer Insight */
.customer-insight {
    width: 96%;
    height: 36%;
    background: #ffffff;
    box-shadow: 2px 2px 5px #f1f1f1, -2px -2px 5px #c2c2c2;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.customer-insight .header {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.customer-insight .header .title {
    display: flex;
    flex-direction: column;
    line-height: 0.1;
}

.customer-insight .header .title p {
    line-height: 0.1;
    font-size: 0.7rem;
}

.customer-insight .header .see-all {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customer-insight .see-all button {
    width: 90%;
    height: 85%;
    background-color: white;
    border: 1px solid black;
    border-radius: 7px;
}

.customer-insight .title p {
    color: #535353;
}

.customer-insight .insights {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.customer-insight .insights .insight-card {
    width: 30%;
    height: 90%;
    padding: 10px;
    background: #ffffff;
    box-shadow: 2px 2px 5px #f1f1f1, -2px -2px 5px #c2c2c2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.insight-card p {
    margin: 0;
    font-size: 0.9rem;
}
