
.body{
    width: 100%;
    height: 90%;
    background-color: rgba(236, 236, 236, 0.877);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Order Page & Payment Page*/
.admin-order,
.admin-payment,
.admin-ship {
    width: 96%;
    height: 95%;
    background: #ffffff;
    border-left: 5px solid rgb(217, 30, 123);
    box-shadow: 2px 2px 5px #f1f1f1,
        -2px -2px 5px #c2c2c2;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.cheader {
    width: 100%;
    height: 10%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.search {
    width: 35%;
    /* background-color: blanchedalmond; */
    display: flex;
    padding: 7px;
}
.search form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.search form input{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    background-color: #fbfbfbed;
    border: 1px solid hotpink;

}

.options {
    width: 60%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.print {
    width: 35%;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.print button {
    width: 100%;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #000000;
}
.print button:hover{
    background-color: rgba(154, 154, 154, 0.489);
}
.sort {

    /* background-color: brown; */
    height: 90%;
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2px;
}
.order-filter {
    /* background-color: brown; */
    height: 90%;
    width: 37%;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    align-items: flex-start;

}
.order-filter select{
    width: 37%;
}

.order-table,
.payment-table,
.ship-table {
    width: 100%;
    height: 80%;
    overflow-y: auto;
    /* background: #3697ff; */
}

/* Product */
.product-con {
    width: 98%;
    height: 95%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.product-one {
    width: 100%;
    height: 40%;
    display: flex;
    /* background-color: aqua; */
}

.product-one .top-products {
    width: 50%;
    height: 100%;
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
}

.product-qty {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.product-qty>div {
    width: 30%;
    height: 46%;
    border-radius: 7px;
    padding: 5px;
}

.product-qty .qty {
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    gap: 5px;
}

.product-qty:nth-child(1) {
    font-size: 0.6rem;

}

.qty h6 {
    margin: 0%;
    font-weight: 700;
    /* background-color: #3697ff; */

}

.product-qty .best-selling,
.product-qty .unpopular {
    background: #ffffff;
    background: linear-gradient(90deg, rgb(255, 230, 221) 0%, rgb(255, 198, 234) 100%);
}

.best-selling .qty i,
.unpopular .qty i ,
.user-counts .qty i {
    font-size: 12pt;
    padding: 5px;
    border-radius: 50%;
    color: rgb(144, 36, 90);
    background-color: rgba(255, 105, 180, 0.687);
}

.product-qty .in-stock {
    background-color: rgb(128, 199, 242);
}

.in-stock .qty i {
    font-size: 10pt;
    padding: 5px;
    border-radius: 50%;
    background-color: rgba(52, 133, 247, 0.687);
}

.product-qty .low-stock {
    background-color: rgb(130, 213, 176);
}

.low-stock .qty i {
    font-size: 10pt;
    padding: 5px;
    border-radius: 50%;
    background-color: rgba(64, 154, 41, 0.687);
}


.product-qty .out-of-stock {
    background-color: rgb(248, 160, 161);
}

.out-of-stock .qty i {
    font-size: 10pt;
    padding: 5px;
    border-radius: 50%;
    background-color: rgba(247, 52, 65, 0.687);
}

.product-qty .discontinued {
    background-color: rgb(248, 197, 122);
}

.discontinued .qty i {
    font-size: 10pt;
    padding: 5px;
    border-radius: 50%;
    background-color: rgba(199, 158, 92, 0.687);
}

.product-two {
    width: 100%;
    height: 60%;
    background: #ffffff;
    border-left: 5px solid rgb(217, 30, 123);
    box-shadow: 2px 2px 5px #f1f1f1,
        -2px -2px 5px #c2c2c2;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.table-responsive {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}
table th,
table td {
    padding: 10px;
    text-align: left;
}
table td button{
    padding: 5px 10px;
    background-color: rgb(255, 128, 193);
    border: none;
    border-radius: 5px;
}
.order-table img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* reports and users page */
.user-con,.report-con{
    width: 98%;
    height: 95%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

}
.user-counts{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
}

.report-sales{
    width: 100%;
    height: 25%;
    /* background-color: #3697ff; */
    display: grid;
    grid-template-columns: 70% 30%;

}
.report-sales .avg-orders {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    height: 95%;
    background: #ffffff;
    box-shadow: 2px 2px 5px #f1f1f1,
        -2px -2px 5px #c2c2c2;
    border-radius: 10px;
    padding: 10px;
}

.todays-sales {
    width: 97%;
    height: 95%;
    background: #ffffff;
    box-shadow: 2px 2px 5px #f1f1f1,
        -2px -2px 5px #c2c2c2;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 8px;
}
.todays-sales > .summ {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.todays-sales > .summ > div{
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    padding: 5px;
    border-radius: 10px;
    line-height: 0.8;
}
.red {
    background-color: rgb(254,226,229);
    
}
.yellow{
    background-color: rgb(255,244,222);
}
.green{
    background-color: rgb(220,252,231);
}
.lilac{
    background-color: rgb(243,232,255);
}

.todays-sales > .summ > div >  div {
    width: 35%;
    height: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.todays-sales > .summ > div  > h6{
    margin-top: 5px;
    padding-left: 5px;
}
.red div i {
    padding: 7px;
    background-color: rgb(250,90,125);
    color: rgb(253, 253, 253);
    border-radius: 50%;
    font-size: 18pt;
    margin: 5px 0 ;
}
.yellow div i {
    padding: 7px;
    background-color: rgb(254,148,122);
    color: rgb(253, 253, 253);
    border-radius: 50%;
    font-size: 18pt;
    margin: 5px 0 ;
}
.green div i {
    padding: 7px;
    background-color: rgb(55,215,83);
    color: rgb(253, 253, 253);
    border-radius: 50%;
    font-size: 18pt;
    margin: 5px 0 ;
}
.lilac div i {
    padding: 7px;
    background-color: rgb(190,130,255);
    color: rgb(253, 253, 253);
    border-radius: 50%;
    font-size: 18pt;
    margin: 5px 0 ;
}
.user-counts > div{
    width: 23%;
    height: 95%;
    background-color: white;
    box-shadow:  2px 2px 5px #c2c2c21e,
                 -2px -2px 5px #c2c2c2ae;
    border-radius: 12px;
    padding: 10px;
}
.user-list, .report-list{
    width: 100%;
    height: 75%;
    background: #ffffff;
    border-left: 5px solid rgb(217, 30, 123);
    box-shadow:  2px 2px 5px #f1f1f1,
                 -2px -2px 5px #c2c2c2;
    border-radius: 10px;

}